In [1]:
# 라이브러리
import pandas as pd
import os
import glob
import matplotlib.pyplot as plt
from collections import defaultdict
import numpy as np

In [2]:
data=pd.read_csv('C:/Users/dowoon/Desktop/리영 유사도/all_after_filter.csv')

In [3]:
# 날짜별로 정렬
data.sort_values('RECU_FR_DT',inplace=True)

In [5]:
data['AGE_GROUP'] = data['AGE_GROUP'].astype('str')

In [7]:
def f(x):
    return pd.Series(dict(
        GNL_NM_CD="%s" % ','.join(x['GNL_NM_CD']),
        SICK_SYMnorm ="%s" % ','.join(x['SICK_SYMnorm']),
        RECU_FR_DT="%s" % ','.join(x['RECU_FR_DT'].astype('str')),
        MAIN_ICDnorm="%s" % ','.join(x['MAIN_ICDnorm']))
                    )

In [8]:
features=['PERSON_ID', 'SEX', 'AGE_GROUP', 'MAIN_ICDnorm','GNL_NM_CD','SICK_SYMnorm','RECU_FR_DT']
groupy_features=['PERSON_ID']
other_features=list(set(features)-set(groupy_features))
data_groupy=data.groupby(groupy_features)[other_features].apply(f).reset_index()

In [9]:
data_groupy['RECU_FR_DT']=data_groupy['RECU_FR_DT'].map(lambda x: x.split(','))
data_groupy['MAIN_ICDnorm']=data_groupy['MAIN_ICDnorm'].map(lambda x: x.split(','))
data_groupy['SICK_SYMnorm']=data_groupy['SICK_SYMnorm'].map(lambda x: x.split(','))
data_groupy['GNL_NM_CD']=data_groupy['GNL_NM_CD'].map(lambda x: x.split(','))
# data_groupy['AGE_GROUP']=data_groupy['AGE_GROUP'].map(lambda x: x.split(','))

In [10]:
def unique_seq(l1):
    l2 = list(set(l1))
    l2.sort(key=l1.index)
    return l2

In [11]:
data_groupy['RECU_FR_DT']=data_groupy['RECU_FR_DT'].map(unique_seq)
data_groupy['MAIN_ICDnorm']=data_groupy['MAIN_ICDnorm'].map(unique_seq)
data_groupy['SICK_SYMnorm']=data_groupy['SICK_SYMnorm'].map(unique_seq)
data_groupy['GNL_NM_CD']=data_groupy['GNL_NM_CD'].map(unique_seq)
# data_groupy['AGE_GROUP']=data_groupy['AGE_GROUP'].map(unique_seq)

In [12]:
def list_to_str(data):
    features=['RECU_FR_DT','MAIN_ICDnorm','SICK_SYMnorm','GNL_NM_CD']
    for feature in features:
        data[feature]=data[feature].map(lambda x: ','.join(x))

In [13]:
list_to_str(data_groupy)

In [14]:
data_groupy.drop(columns=['RECU_FR_DT'],inplace=True)

In [15]:
data_groupy

,PERSON_ID,GNL_NM_CD,SICK_SYMnorm,MAIN_ICDnorm
0,10000755,"177303ATB,157703ATR,191503ATB,470901ATB,165001...","I100,E115,E785,E780,I109,E781,E782,E119,E079,K...","E115,E119,E149,E148"
1,10003063,"165702ATB,133301ATB,144001ATB,131801ATB,150001...","E110,I209,N088,I709,B178,D508,E781,J041,K599,K...","E119,E114"
2,10005849,"191502ATB,191501ATB,461801BIJ,421001ATB,430101...","E109,E119,E789,E104,K296,K279,J000,R120,E139,T232","E109,E119,E104,E139"
3,10006702,"515201ATB,100602ATB,101404ATB,295600ATB,474300...","L500,K277,M544,E785,E119,K300,I100,K529,H814,G...","E119,E118,E114"
4,10009199,"180301ATB,201801ATB,165702ATB,250501ATB,243501...","I100,G470,E100,R520,E139,J069,E135,J030,E110,L...","E109,E139,E135,E119"
...,...,...,...,...
62382,98468618,"187402ATB,454003ATB,191502ATB,222805ATB,107601...","E782,M544,E119,I109,F412,K590,I694,M791,K219",E119
62383,98617616,"264800ATB,358500ASY,267300ASY,374603ATB,438901...","H103,J010,E149,J302,E109","E149,E109"
62384,98813694,"111001ATE,191502ATB,246501ATB,478601ACS,469900...","I251,E780,I100,E108,K760,G632,E119,E039,I109,E144","E108,E119,E144"
62385,99684720,"431901ATB,111402ATB,239001ATB,199404ATE,468501...","E145,I679,I109,K299,M819,M179,H818,M810,I209,E...","E145,E119"
62386,99911920,"468501ATB,165702ATB,100901ATB,101405ATR,222801...","I109,E149,E119,G442,K297,M543,J039,J010,J303,K...","E149,E119,E138"

In [16]:
data_groupy['FOOT'] = ''
for j in range(62387 ):
    for i in ['E105','E115','E125','E135','E145']:
        if i in data_groupy['SICK_SYMnorm'][j]:
            data_groupy['FOOT'][j] = 1
        else:
            pass

<ipython-input-16-8555f5acbf54>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_groupy['FOOT'][j] = 1

In [17]:
data_groupy['MULTI'] = ''
for j in range(62387 ):
    for i in ['E107','E117','E127','E137','E147']:
        if i in data_groupy['SICK_SYMnorm'][j]:
            data_groupy['MULTI'][j] = 1
        else:
            pass

<ipython-input-17-6e3726be90d4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_groupy['MULTI'][j] = 1

In [18]:
data_groupy['LBP'] = ''
for j in range(62387 ):
    for i in ['E1163','E1263','E1363' ,'E1463']:
        if i in data_groupy['SICK_SYMnorm'][j]:
            data_groupy['LBP'][j] = 1
        else:
            pass
data_groupy['HYP'] = ''
for j in range(62387 ):
    for i in ['E103','E113','E123','E133','E143','H360','H280']:
        if i in data_groupy['SICK_SYMnorm'][j]:
            data_groupy['HYP'][j] = 1
        else:
            pass
data_groupy['KDY'] = ''
for j in range(62387 ):
    for i in ['N083','E102','E112','E122','E132','E142','I120',  
              'I131','I132','N18', 'N180', 'N181', 'N182', 'N183', 
              'N184', 'N185', 'N188', 'N189']:
        if i in data_groupy['SICK_SYMnorm'][j]:
            data_groupy['KDY'][j] = 1
        else:
            pass
data_groupy['NEURO'] = ''
for j in range(62387 ):
    for i in ['G590','G632','E104','E114','E124','E134','E144']:
        if i in data_groupy['SICK_SYMnorm'][j]:
            data_groupy['NEURO'][j] = 1
        else:
            pass
data_groupy['HRT'] = ''
for j in range(62387 ):
    for i in ['I21', 'I210', 'I211', 'I212', 'I213', 
              'I214', 'I2140', 'I2141', 'I2148', 'I219','I22', 
              'I220', 'I221', 'I228', 'I229','I110','I130','I132',
              'I50', 'I500', 'I5000','I5001', 'I5002', 'I501', 'I509']:
        if i in data_groupy['SICK_SYMnorm'][j]:
            data_groupy['HRT'][j] = 1
        else:
            pass
data_groupy['STK'] = ''
for j in range(62387 ):
    for i in ['I60', 'I600', 'I602', 'I605',
              'I607', 'I609', 'I61', 'I610', 'I618', 'I619', 'I62', 'I620', 'I621',
              'I63', 'I630', 'I6300', 'I6301', 'I6302', 'I6308', 'I6309', 'I631',
              'I6318', 'I6319', 'I632', 'I6329', 'I633', 'I6330', 'I6331', 'I6333',
              'I6338', 'I6339', 'I634', 'I6348', 'I6349', 'I635', 'I6350', 'I6353', 
              'I6358', 'I6359', 'I636', 'I638', 'I639']:
        if i in data_groupy['SICK_SYMnorm'][j]:
            data_groupy['STK'][j] = 1
        else:
            pass

<ipython-input-18-7dc1c94af1b0>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_groupy['HYP'][j] = 1
<ipython-input-18-7dc1c94af1b0>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_groupy['KDY'][j] = 1
<ipython-input-18-7dc1c94af1b0>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_groupy['NEURO'][j] = 1
<ipython-input-18-7dc1c94af1b0>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_groupy['HRT'][j] = 1
<ipython-input-18-7dc1c94af1b0>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_groupy['STK'][j] = 1

In [19]:
del data_groupy['LBP']

In [42]:
# 약제와 질병에 대해서만 저장
data_groupy.to_csv('C:/Users/dowoon/Desktop/유사도 프로젝트/project1/final_label.csv',index=False)